body{
    background-color: cadetblue;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    width: 50vw;    
}
 .bill{
     text-align: center;
     padding:1rem;
 }

 .btn{
     text-align: center;
     border-radius: 1rem;
     font-size: large;
  cursor: pointer;
 }
 .change-table {
    width: 50%;
    text-align: justify;
    border-collapse: collapse;
    margin: auto;
  }

  .change-table caption {
    margin: 1rem auto;
    font-size: x-large;
    font-weight: 500;
  }

  th,
td {
  border: 2px solid var(--primary-color);
  width: 0%;
  border-collapse: collapse;
  padding: 0.4rem;
}
#check-button{
  text-align: center;
  border-radius: 0.4rem;
  font-size: large;
cursor: pointer;
border: none;
}