body{
    background-color: cadetblue;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    width: 50vw;    
}
 .bill{
     text-align: center;
     padding:1rem;
 }

 .btn{
     text-align: center;
     padding: 1rem;
 }
